.my-card {
    box-shadow: var(--shadow);
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 300px; /* Decrease the minimum width for responsiveness */
    flex: 1;
}

.ant-card-head-title {
    margin: 0px !important;
    font-weight: 600;
}

.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}

.my-card p {
    margin: 0;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
    .my-card {
        min-width: 280px; /* Smaller card width for medium screens */
    }
}

@media (max-width: 768px) {
    .my-row {
        flex-direction: column; /* Stack the cards vertically */
        align-items: flex-start; /* Align cards to the left */
    }
    
    .my-card {
        min-width: 100%; /* Make cards take full width */
        margin-bottom: 1rem; /* Add space between stacked cards */
    }
}
